.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  animation: loader 2s linear infinite;
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

.shape {
  background-color: rgb(31, 1, 164);
  animation: rectangle 4s linear infinite;
  animation-delay: 2s;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rectangle {
  0% {
    transform: scale(1, 1);
    border-radius: 15px;
  }

  25% {
    border-radius: 30px;
    box-shadow: 2px 5px 5px rgba(133, 133, 133, 0.523);
    background-color: rgb(5, 115, 130);
    transform: scale(0.9);
  }

  50% {
    border-radius: 20px;
    transform: scale(1.3)
  }
}
  
